<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for book in All_the_Books %}
        <h1>{{book.title}}</h1>
        <p> ID: {{book.id}}</p>
        <p> Description: {{book.desc}}</p>
    {% endfor %}
    <h1>Authors</h1>
    <p></p>
    <p></p>
</body>
</html>



















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Author</h1>
    <p>ID: 4</p>
    <p>Notes:</p>
    <h1>Books</h1>
    <p></p>
    <p></p>
</body>
</html> -->